/* beginning of all elements  */
.logo, .myname, .typewrite, .btn, li, a, .landing-page, .group{
  animation: fadeAndScale 0.9s;
  transform-origin: center;
}

@keyframes fadeAndScale {
from {
  opacity: 0;
  transform: scale3d(.25, .25, .25);
}
to {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}
}

body {overflow-x: hidden; margin: auto;}
.logo {
  margin-left: 30px;
  margin-top: -15px;
  float: left;
  font-family: 'Yesteryear', 'Bree Serif', serif;
  font-size: 2em;
  font-weight: 100;
  letter-spacing: -2px;
  text-transform: uppercase;
  z-index: 2;
  position: relative;
}

.logo a {
  text-decoration: none;
  color: #e83058;
}

.navigate {
  text-align: center;
  width: 100%;
  z-index: 2;
  position: relative;
}

ul {

  list-style: none;
  float: right;
  padding-right: 30px;
  padding-top: 5px;
}

li {
  color: black;
  display: inline-block;
  font-family: 'Bree Serif', serif;
  font-size: 1em;
  font-weight: 300;
  text-transform: uppercase;
  margin-left: 18px;
  margin-top: 5px;
  margin-right: 35px;
  font-weight: 300;
  letter-spacing: 1px;
}

li a {
  text-decoration: none;
  color: black;
}

li a:hover {
  color: #e25d7a;
}
/* ending of all navigation bars */

/* beginning of body for home.html */

h1 {
  font-family: 'Bree Serif', serif;
  font-size: 5.625em;
  color: black;
  font-weight: 400;
  text-align: center;
  letter-spacing: 13px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

h3, .typewrite{
  font-family: 'Bree Serif', serif;
  font-size: 1.563em;
  font-weight: 100;
  text-align: center;
  text-transform: lowercase;
  text-decoration: none;
  margin-bottom: 50px;
  color: black;
}

h4 {
  color: #787878;
  font-family:
}

h5 {
  color: #787878;
  text-transform: lowercase;
  font-family: 'Delius', 'Bree Serif', sans-serif;
}

h5 a {
  text-decoration: none;
  font-family: 'Delius', 'Bree Serif', sans-serif;
  color: #e83058;
}


h5 a:hover {
text-decoration: underline;
}

.btn {
  font-family: 'Bree Serif', sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: #e83058;
  padding: 14px;
  text-transform: uppercase;
  border: solid;
  border-color: #e83058;
  border-width: .5px;
  letter-spacing: 2px;
  text-decoration: none;
  font-weight: 100;
}

.btn:hover {
  border-color: #e83058;
  background-color: #e83058;
  color: white;
}

.profilepic img {
  width: 210px;
  height: 210px;
  border-radius: 50%;
  align-items: center;
  padding: 10px;
}

.profilepic {
  width: 100%;
  padding-left: 40%;
  padding-right: 40%;
  padding-top: 2%;
}
.about {
  height: 100%;
  width: 100%;
  background-color: #e83058;
  padding: 10px;
}

.about h1 {
  font-family: 'Berkshire Swash', 'Bree Serif', serif;
  text-transform: none;
  letter-spacing: 2px;
}
.description {
  text-align: left;
  width: 100%;
  font-weight: 100;
  padding-bottom: 50px;
  padding-top: 50px;
}
.description {
  margin: 0 auto;
  padding: 30px;
  text-align: center;
  width: 85%;
  font-family: 'Bree Serif', sans-serif;

}

/* ending of body for home.html */


/* beginning of body for portfolio.html */
.gallery {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  position: inherit;
}

.gallery-item {
  width: 25%;
  margin: 25px;
  text-decoration: none;
}

.thumbnail:hover {
  filter: opacity(0.7);

}

.text {
  font-family: 'Bree Serif', sans-serif;
  font-size: 1.25em;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 5px;
  margin-top: 10px;
  color: black;

}

/* Styles the lightbox, removes it from sight and adds the fade-in transition */
.lightbox-target {
position: fixed;
top: -100%;
width: 100%;
background: rgba(255,255,255,.9);
width: 100%;
opacity: 0;
-webkit-transition: opacity .5s ease-in-out;
-moz-transition: opacity .5s ease-in-out;
-o-transition: opacity .5s ease-in-out;
transition: opacity .5s ease-in-out;
overflow: hidden;
}

/* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */
.lightbox-target img {
margin: auto;
position: absolute;
top: 0;
left:0;
right:0;
bottom: 0;
height: 50%;
width: 50%;
box-shadow: 0px 0px 8px rgba(255,255,255, 0.3);
box-sizing: border-box;
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
}

/* Styles the close link, adds the slide down transition */
a.lightbox-close {
display: block;
width:50px;
height:50px;
box-sizing: border-box;
background: rgba(255,255,255, 0.1) ;
color: black;
text-decoration: none;
position: absolute;
top: -80px;
right: 0;
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
}

/* Provides part of the "X" to eliminate an image from the close link */
a.lightbox-close:before {
content: "";
display: block;
height: 30px;
width: 1px;
background: black;
position: absolute;
left: 26px;
top:10px;
-webkit-transform:rotate(45deg);
-moz-transform:rotate(45deg);
-o-transform:rotate(45deg);
transform:rotate(45deg);
}

/* Provides part of the "X" to eliminate an image from the close link */
a.lightbox-close:after {
content: "";
display: block;
height: 30px;
width: 1px;
background: black;
position: absolute;
left: 26px;
top:10px;
-webkit-transform:rotate(-45deg);
-moz-transform:rotate(-45deg);
-o-transform:rotate(-45deg);
transform:rotate(-45deg);
}

/* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */
.lightbox-target:target {
opacity: 1;
top: 0;
bottom: 0;
}

.lightbox-target:target  {
max-height: 100%;
max-width: 100%;
}

.lightbox-target:target a.lightbox-close {
top: 0px;
}
/* ending of body for portfolio.html */
.myservices {
  background-color: black;
  margin: 0 auto;
  padding: 50px;
  border-bottom: 1px dashed white;
}
.myservices h3{
  color: #e83058;
  margin: 0 auto;
  text-transform: none;
}
.serviceitems p {
  color: white;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  width: 85%;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 100;
  font-size: 1em;
  line-height: 20px;
}

.eachitem {
  margin: 100px;
  border-left: 0.3px solid white;
  border-bottom: 0.3px solid white;
}
.fullcover {
  background-image: url("background0.jpg");
  height: 100%;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  padding-top: 90px;
  padding-bottom: 500px;
  position: absolute;
}

.fullcoverpsbc {
  background-image:  url("background0.jpg");
  height: 100%;
  background-size: cover;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  padding-top: 175px;
  padding-bottom: 400px;
  position: relative;
}
 
 {
  background-image: url("../CSS/background0.jpg");
  height: 100%;
  background-size: cover;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  padding-top: 175px;
  padding-bottom: 100%;
  position: relative;
}

.contactme {
  border-color: #e83058;
  border-width: .3px;
  border-style: dotted;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 12px;
  padding-right: 12px;
}

.contactme:hover {
  color: #e83058
}

.group:after {
  content: "";
  display: block;
  clear: both;
  background: transparent;
}

.landing-page {
  width: 70%;
  margin: 100px auto 0;
}

.landing-page *,
.landing-page *:before,
.landing-page *:after {
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.landing-page .module {
	border: 1px solid #e83058;;
	float: left;
	padding: 2em;
	width: 48%;
}

.landing-page .module > *:last-child,
.landing-page .module > *:last-child > *:last-child,
.landing-page .module > *:last-child > *:last-child > *:last-child {
	margin: 0;
	padding: 0;
}

.landing-page .note {

	border: 1px dashed;
	color: #e83058;
  font-family: 'Bree Serif', serif;
	font-size: .9em;
  text-transform: lowercase;
	font-style: italic;
	margin: 20px auto;
	padding: 2em;

}

.form-appointment {
	padding: 2em;
	border: 1px solid #e83058;
  font-family: 'Bree Serif', serif;
  text-transform: uppercase;
	margin: 20px auto;
}

.form-appointment input[type=text],
.form-appointment input[type=email],
.form-appointment input[type=tel],
.form-appointment textarea {
	border: 1px solid #e83058;;
  text-transform: none;
	font-family: 'Delius', 'Bree Serif', serif;
	font-size: 1.1em;
	padding: .4em 1em;
	margin: 0 0 .8em;
	width: 100%;
  background-color: transparent;
}

.form-appointment input[type=text],
.form-appointment input[type=email],
.form-appointment input[type=tel],
.form-appointment input[type=submit],
.form-appointment textarea {
	-webkit-transition: all .2s ease-in-out;
	   -moz-transition: all .2s ease-in-out;
	        transition: all .2s ease-in-out;
}

.form-appointment input[type=text]:active,
.form-appointment input[type=text]:focus,
.form-appointment input[type=email]:active,
.form-appointment input[type=email]:focus,
.form-appointment input[type=tel]:active,
.form-appointment input[type=tel]:focus,
.form-appointment textarea:active,
.form-appointment textarea:focus {
  outline: 0;
}

.form-appointment textarea {
	height: 110px;
}

.form-appointment input[type=submit] {

	border: 1px solid #e83058;
  color: #e83058;
	cursor: pointer;
	font-family: 'Bree Serif', serif;
	font-size: 1.4em;
	padding: 10px 18px;
  background-color: transparent;
  text-transform: uppercase;
}

.form-appointment input[type=submit]:hover {
	background-color: #e83058;
  color: white;
}

.form-appointment .wpcf7-list-item-label {
  color: #e83058;
}

span.wpcf7-list-item {
	display: block;
	margin-left: -.02em;
}

.footer {
  background-color: black;
  width: 100%;
  text-align: left;
  font-family: 'Bree Serif', serif;
  font-weight: bold;
  font-size: 1em;
  padding: 10px 0px 30px 0px;
  vertical-align: middle;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
  display: inline-block;
}


/* footer left*/

.footer .footer-left {
  width: 30%;
}
.footer-left h3 {
  font-family: 'Bree Serif', serif;
  color: #e83058;
  font-size: 1.563em;
  text-transform: lowercase;
  z-index: 2;
  position: relative;
  padding-left: 15%;
}
.footer .icons {
  padding-left: 35%;
}

.footer .icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 50%;
  font-size: 1.25em;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 3px;
}

.footer .icons a:hover {
color: #e83058;
}
/* footer center*/

.footer .footer-center {
  width: 30%;
  padding-left: 3%;
  padding-top: 1%;
}

.footer .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 1.563em;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
}

.footer .footer-center i.fa-envelope {
  font-size: 1em;
  line-height: 38px;
}

.footer .footer-center p {
  display: inline-block;
  color: gray;
  vertical-align: middle;
  text-transform: lowercase;
}

.footer .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 1em;
  line-height: 2;
  text-transform: lowercase;
}

.footer .footer-center p a {
  color: #e83058;
  text-decoration: none;
}


/* footer right*/

.footer .footer-right {
  width: 35%;
  float: right;
  padding-bottom: 3%;
}
.footer-right .menu{

}
.footer h2 {
  color: #e83058;
  font-size: 2.25em;
  font-family: 'Yesteryear', 'Bree Serif', serif;
  font-size: 2em;
  letter-spacing: 0.125em;
  text-transform: uppercase;
  z-index: 2;
  position: relative;
  padding-left: 40%;
}

.footer h2 span {
  color: #e83058;
}

.footer .menu {
  list-style-type: none;
  color: #ffffff;
  padding-left: 40%;

}

.footer .menu a {
  display: list-item;
  margin: 5px;
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-size: 0.875em;
}

.footer .menu a:hover {
  color: #e83058;
}

@media (max-width: 767px) {
  .footer {
    font-size: 0.875em;
  }
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: block;
    width: 100%;
    text-align: center;
  }
  .footer .footer-center i {
    margin-left: 0;
  }
}

.copyright{
  width: 100%;
}
.copyright .name {
  color: black;
  font-size: 0.813em;
  font-family: 'Bree Serif', serif;
  margin-left: 38%;
  text-transform: uppercase;
}
.name a {
  color: #e83058;
  text-decoration: none;
}
