/* beginning of all elements  */
.logo, .myname, .typewrite, .btn, li, a, .landing-page, .group{
  animation: fadeAndScale 0.9s;
  transform-origin: center;
}

@keyframes fadeAndScale {
from {
  opacity: 0;
  transform: scale3d(.25, .25, .25);
}
to {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}
}

body {overflow-x: hidden; margin: auto;}
.logo {
  margin-left: 30px;
  margin-top: -15px;
  float: left;
  font-family: 'Yesteryear', 'Bree Serif', serif;
  font-size: 2em;
  font-weight: 100;
  letter-spacing: -2px;
  text-transform: uppercase;
  z-index: 2;
  position: relative;
}

.logo a {
  text-decoration: none;
  color: #e83058;
}

.navigate {
  text-align: center;
  width: 100%;
  z-index: 2;
  position: relative;
}

ul {

  list-style: none;
  float: right;
  padding-right: 30px;
  padding-top: 5px;
}

li {
  color: black;
  display: inline-block;
  font-family: 'Bree Serif', serif;
  font-size: 1em;
  font-weight: 300;
  text-transform: uppercase;
  margin-left: 18px;
  margin-top: 5px;
  margin-right: 35px;
  font-weight: 300;
  letter-spacing: 1px;
}

li a {
  text-decoration: none;
  color: black;
}

li a:hover {
  color: #e25d7a;
}
/* ending of all navigation bars */

/* beginning of body for home.html */

h1 {
  font-family: 'Bree Serif', serif;
  font-size: 5.625em;
  color: black;
  font-weight: 400;
  text-align: center;
  letter-spacing: 13px;
  margin-bottom: 5px;
  text-transform: uppercase;
}


h2 {
  font-family: 'Bree Serif', serif;
  font-size: 5.625em;
  color: black;
  font-weight: 400;
  text-align: center;
  letter-spacing: 13px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

h3, .typewrite{
  font-family: 'Bree Serif', serif;
  font-size: 1.563em;
  font-weight: 100;
  text-align: center;
  text-transform: lowercase;
  text-decoration: none;
  margin-bottom: 50px;
  color: black;
}

h4 {
  color: #787878;
  font-family:
}

h5 {
  color: #787878;
  text-transform: lowercase;
  font-family: 'Delius', 'Bree Serif', sans-serif;
}

h5 a {
  text-decoration: none;
  font-family: 'Delius', 'Bree Serif', sans-serif;
  color: #e83058;
}


h5 a:hover {
text-decoration: underline;
}

.profilepic img {
  width: 210px;
  height: 210px;
  border-radius: 50%;
  align-items: center;
  padding: 10px;
}

.profilepic {
  width: 100%;
  padding-left: 40%;
  padding-right: 40%;
  padding-top: 2%;
  margin-left: 25px;
}
.about {
  height: 100%;
  width: 100%;
  background-color: #e83058;
  padding: 10px;
}

.about h1 {
  font-family: 'Berkshire Swash', 'Bree Serif', serif;
  text-transform: none;
  letter-spacing: 2px;
}
.description {
  text-align: left;
  width: 100%;
  font-weight: 100;
  padding-bottom: 50px;
  padding-top: 50px;
}
.description {
  margin: 0 auto;
  padding: 30px;
  text-align: center;
  width: 85%;
  font-family: 'Bree Serif', sans-serif;

}

.members {
  height: 100%;
  width: 100%;
  background-color: white;
  margin: 60px;
}

/* ending of body for home.html */


